@font-face{
  font-family:Determination;
  src:url(fonts/undertale/determination.eot);
  src:url(fonts/undertale/determination.ttf) format("truetype"),
      url(fonts/undertale/determination.svg#determination) format("svg"),
      url(fonts/undertale/determination.woff) format("woff"),
      url(fonts/undertale/determination.woff2) format("woff2");
}

@font-face{
  font-family:Sans;
  src:url(fonts/undertale/sans.eot);
  src:url(fonts/undertale/sans.ttf) format("truetype"),
      url(fonts/undertale/sans.svg#sans) format("svg"),
      url(fonts/undertale/sans.woff) format("woff"),
      url(fonts/undertale/sans.woff2) format("woff2");
}

@font-face{
  font-family:Papyrus;
  src:url(fonts/undertale/papyrus.eot);
  src:url(fonts/undertale/papyrus.ttf) format("truetype"),
      url(fonts/undertale/papyrus.svg#papyrus) format("svg"),
      url(fonts/undertale/papyrus.woff) format("woff"),
      url(fonts/undertale/papyrus.woff2) format("woff2");
}

@font-face{
  font-family:Mercy;
  src:url(fonts/undertale/mercy.eot);
  src:url(fonts/undertale/mercy.ttf) format("truetype"),
      url(fonts/undertale/mercy.svg#mercy) format("svg"),
      url(fonts/undertale/mercy.woff) format("woff"),
      url(fonts/undertale/mercy.woff2) format("woff2");
}

@font-face{
  font-family:technicolour-3d
  src:url(diamondlooter.github.io/fonts/blocky/technicolour-3d.eot);
  src:url(diamondlooter.github.io/fonts/blocky/technicolour-3d.ttf) format("truetype"),
      url(diamondlooter.github.io/fonts/blocky/technicolour-3d.svg#technicolour-3d) format("svg"),
      url(diamondlooter.github.io/fonts/blocky/technicolour-3d.woff) format("woff"),
      url(diamondlooter.github.io/fonts/blocky/technicolour-3d.woff2) format("woff2");
}
